/* Reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    clear: both;
    display: block;
}

html[xmlns] .clearfix {
    display: block;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

* html .clearfix {
    height: 1%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-style: normal;
    line-height: 1.4em;
    letter-spacing: .025em;
    text-transform: none;
    word-break: break-word;
}

/* End reset */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --blue: #86abf9;
    --light-blue: #badcff;
    --dark-blue: #527cc6;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    display: block;
    color: #555;
    background-color: #fff !important;
}

.bg {
    background: linear-gradient(90deg, var(--light-blue), var(--blue), var(--dark-blue));
}

.text-white {
    color: #fff !important;
}

.text-black {
    color: #555 !important;
}

.text-blue {
    color: var(--blue) !important;
}

/* Header */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

nav img {
    width: 50px;
    height: 50px;
}

nav a span {
    font-size: 24px;
    background: -webkit-linear-gradient(30deg, rgb(225, 225, 225), rgb(255, 255, 255));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

nav li a {
    font-size: 24px;
    color: #fff;
    transition: 0.2s;
    padding: 5px 0;
}

nav li a::after {
    display: block;
    content: '';
    border-bottom: 1px solid #fff;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform 250ms ease-in-out;
}

nav li a:hover::after {
    transform: scaleX(1);
    transform-origin: 0% 50%;
}

nav li a:hover {
    color: #fff;
}

/* Body */

#body {
    margin-top: 60px;
}

.title {
    font-size: 48px;
    color: var(--blue);
    font-weight: 700;
}

.sub-title {
    font-size: 32px;
}

.content {
    font-size: 32px;
}

.br {
    border-bottom: 1px solid #eee;
}

/* Footer */

.social-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.social-container a {
    font-size: 32px;
}

.social-container a,
.link-container ul li a {
    color: #fff;
    font-weight: 400;
}